<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Form</title>
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <section class="login" id="login">
      <div class="head">
        <h1 class="company">LOGIN</h1>
      </div>

      <h5 class="msg" style="color: green">
        <strong> Welcome To Voter ID Portal </strong>
      </h5>
      <div class="center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFWExFCy_-h5zEjbnOcavDHAFETo8SE7YotA&usqp=CAU"
          width="300"
          height="100"
          alt="VoterID"
          class="img-fluid"
          style="border-radius: 2rem 2rem 2rem 2rem"
        />
      </div>

      <br />
      <div class="form">
        <form name="form">
          <div class="form-group">
            <input
              type="text"
              placeholder="Enter Username"
              class="text"
              id="username"
              required
            />
          </div>
          <input
            type="password"
            placeholder="Enter password"
            class="password"
          /><br />
          <br />
          <div>
            <a href="#" class="btn-login" id="do-login">Login</a>
          </div>
          <br /><br />

          <a href="#" class="forgot">Forgot password ?</a>
          <br />

          <p class="mb-0">
            Don't have an account?
            <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
          </p>
        </form>
      </div>
    </section>
  </body>
</html>
